.final {
  display: grid;
  grid-template-rows: 1fr;
  margin: 50px;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .final {
    display: grid;
    grid-template-rows: 1fr;
    margin: 10px;
  }
}
