.home {
  margin: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.cities {
  color: black;
}

.desc {
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .home {
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr;
  }
}
