.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px; */
}

.block {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.block:hover {
  transform: scale(1.2); /* Grows text by 20% */
}
