.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px; */
}

p {
  display: inline-block; /* Ensures smooth scaling */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
  cursor: pointer;
}

p:hover {
  transform: scale(1.2); /* Grows text by 20% */
}
