* {
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
  font-weight: 600;
  margin: 50px;
}

.header {
  font-size: 50px;
  color: lightblue;
}

.venice {
  color: lightblue;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-rows: 1fr;
    margin: 25px;

    text-align: center;
    font-weight: 100;

    background-color: rgb(255, 255, 255);
  }

  .header {
    font-size: 35px;
    font-weight: 600;
    color: lightblue;
  }

  p {
    font-size: 15px;
  }

  .final {
    color: rgb(0, 0, 0);
  }
}

/* THE REST OF THE SCREEN */

/* .header {
  font-size: 50px;
  color: purple;
} */

h1 {
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
