.App {
  p {
    font-size: 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    text-align: center;
  }

  p {
    color: black;
  }
}
