* {
  background-color: rgb(255, 255, 255);
  /* cursor: pointer; */
}

.App {
  text-align: center;
  font-weight: 600;
  margin: 50px;
}

/* .final {
  margin: 50px;
} */

.header {
  font-size: 50px;
  color: lightblue;
  display: inline-block; /* Ensures smooth scaling */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
  cursor: pointer;
}

.header:hover {
  transform: scale(1.2); /* Grows text by 20% */
  color: lightblue;
}

.venice {
  color: lightblue;
}

h1 {
  color: lightblue;
}

p {
  color: rgb(18, 61, 22);
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-rows: 1fr;
    margin: 25px;

    text-align: center;
    font-weight: 100;

    background-color: rgb(255, 255, 255);
  }

  .header {
    font-size: 35px;
    font-weight: 600;
    color: lightblue;
  }

  p {
    font-size: 15px;
  }

  .final {
    color: rgb(0, 0, 0);
  }
}
