* {
  background-color: black;
}

.header {
  font-size: 50px;
  color: lightcyan;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-rows: 1fr;
    margin: 25px;

    text-align: center;
    font-weight: 100;

    background-color: black;
  }

  .header {
    font-size: 25px;
    color: white;
  }

  .venice {
    color: lightblue;
  }

  p {
    font-size: 15px;
  }

  .final {
    color: white;
  }
}

/* THE REST OF THE SCREEN */

.App {
  text-align: center;
  font-weight: 600;
  margin: 50px;
}

/* .header {
  font-size: 50px;
  color: purple;
} */

h1 {
  color: white;
}

p {
  color: white;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
