* {
  background-color: black;
  /* margin: 25px; */
}

.App {
  p {
    font-size: 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 25px;

    text-align: center;
    font-weight: 100;

    background-color: black;
  }

  .header {
    color: white;
  }

  .final {
    color: white;
  }
}

/* THE REST OF THE SCREEN */

.App {
  text-align: center;
  font-weight: 600;
  margin: 50px;
}

.header {
  font-size: 82px;
}

h1 {
  color: white;
}

p {
  color: white;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
