* {
  background-color: black;
}

.App {
  p {
    font-size: 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .App {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    text-align: center;
    font-weight: 600;

    background-color: black;
  }

  p {
    color: white;
  }
}

.App {
  text-align: center;
  font-weight: 600;
}

p {
  color: blue;
}
